[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Esercizio MCV con db
[access "refs/*"]
	owner = group user/Umberto Furno (BlixShot)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Umberto Furno (BlixShot)
	label-Verified = -1..+1 group user/Umberto Furno (BlixShot)
	push = group user/Umberto Furno (BlixShot)
	read = group user/Umberto Furno (BlixShot)
	rebase = group user/Umberto Furno (BlixShot)
	removeReviewer = group user/Umberto Furno (BlixShot)
	submit = group user/Umberto Furno (BlixShot)
[access "refs/heads/*"]
	create = group user/Umberto Furno (BlixShot)
	push = +force group user/Umberto Furno (BlixShot)
	pushMerge = group user/Umberto Furno (BlixShot)
	read = group user/Umberto Furno (BlixShot)
[access "refs/tags/*"]
	push = group user/Umberto Furno (BlixShot)
	push = +force group user/Umberto Furno (BlixShot)
